@import './custom.bootstrap.scss';
@import './auth.scss';
@import './main.scss';

body.auth_body {
    min-height: 100vh;
    background-color: $gray-100;
}
body.main_body {
    background-color: #ffffff;
    font-size: 14px;
    overflow-x: hidden;
}
body.register_body {
    background-color: #f8f9fa;
    font-size: 14px;
    overflow-x: hidden;
}